<html>
<head>
<link rel="stylesheet" href="style.css">
<script type="text/javascript" src="script.js"></script>
<script>
function interceptClickEvent(e) {
	var href;
	var target = e.target || e.srcElement;
	if ((target.tagName === 'A') && (target.class="LinkMore")) {
		href = target.getAttribute('href');
		target.style.display = 'none';
		document.getElementById(target.getAttribute('id').substring(4)).style.display = 'inline';
		if (true) {
		   //tell the browser not to respond to the link click
		   e.preventDefault();
		}
	}
}


//listen for link click events at the document level
if (document.addEventListener) {
	document.addEventListener('click', interceptClickEvent);
} else if (document.attachEvent) {
	document.attachEvent('onclick', interceptClickEvent);
}
</script>
</head>
<body>
	<div id='diary_name'></div>
		<div class="row">
			<div id="menu"></div>
			<div id="posts"><div class='hidden'></div>
        </div>
    </div>
</body>
</html>